# TO ACTIVATE VIRTUAL ENVIRONMENT 
.\myenv\Scripts\activate

In [1]:
import pandas as pd
import pymongo
import json
from pandas import json_normalize
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

Data extraction and Data gathering

In [2]:
import json

with open('C:/Users/nkn05/OneDrive/Desktop/CSV DATA/Data/sample_airbnb.json', 'r') as f:
    data1 = json.load(f)

In [3]:
df1=pd.DataFrame(data1)

In [ ]:
df1.head()

In [ ]:
df1.shape

In [ ]:
df1.count()

In [ ]:
df1.columns

In [ ]:
df1.describe()

In [ ]:
df1.loc[0:,'access':'images']
df1.loc[0:,'access':'number_of_reviews']

In [ ]:
df1.loc[0:,'last_scraped':'last_review']

In [11]:
#Adding extra columns to the dataframe

# Convert to datetime
df1['last_scraped'] = pd.to_datetime(df1['last_scraped'])
df1['calendar_last_scraped'] = pd.to_datetime(df1['calendar_last_scraped'])
df1['first_review'] = pd.to_datetime(df1['first_review'])
df1['last_review'] = pd.to_datetime(df1['last_review'])

# Split datetime into separate date and time columns
df1['last_scraped_date'] = df1['last_scraped'].dt.date
df1['last_scraped_time'] = df1['last_scraped'].dt.time

df1['calendar_last_scraped_date'] = df1['calendar_last_scraped'].dt.date
df1['calendar_last_scraped_time'] = df1['calendar_last_scraped'].dt.time

df1['first_review_date'] = df1['first_review'].dt.date
df1['first_review_time'] = df1['first_review'].dt.time

df1['last_review_date'] = df1['last_review'].dt.date
df1['last_review_time'] = df1['last_review'].dt.time

# Drop original datetime columns if needed
df1.drop(columns=['last_scraped', 'calendar_last_scraped', 'first_review', 'last_review'], inplace=True)

In [ ]:
df1.head()

In [ ]:
df1.columns

In [14]:
#Extracting reviews details seperately
reviews_details=df1.loc[0:,['_id','reviews_per_month','last_scraped_date','last_scraped_time','calendar_last_scraped_date','calendar_last_scraped_time','first_review_date','first_review_time',
                            'last_review_date','last_review_time' ]]

In [ ]:
reviews_details.head()

In [16]:
#dropping columns 
df1.drop(columns=['last_scraped_date','last_scraped_time','calendar_last_scraped_date','calendar_last_scraped_time','first_review_date','last_review_time','first_review_time']
         ,inplace=True)

In [ ]:
df1.shape

In [ ]:
df1.head()

In [ ]:
df1.loc[0:,'host':'reviews']

In [20]:
# Normalize nested columns
host_df = json_normalize(df1['host'])
address_df = json_normalize(df1['address'])
availability_df = json_normalize(df1['availability'])
review_scores_df = json_normalize(df1['review_scores'])

# Concatenate normalized columns back to the original DataFrame
df1 = pd.concat([df1.drop(['host', 'address', 'availability', 'review_scores'], axis=1),
                host_df, address_df, availability_df, review_scores_df], axis=1)

# Display the result

In [21]:
pd.set_option('display.max_colwidth', 200)

In [ ]:
host_df.head()

In [ ]:
host_df['host_neighbourhood'].value_counts()

In [ ]:
host_df['host_neighbourhood'].fillna('Not Available')

In [ ]:
host_df['host_neighbourhood'].isna().sum()

In [ ]:
host_df['host_neighbourhood'].value_counts()

In [ ]:
address_df.head()

In [ ]:
review_scores_df.head()

In [ ]:
df1[['location.coordinates','_id']]

In [30]:
# Split the 'location.coordinates' column into 'longitude' and 'latitude'
df1[['longitude', 'latitude']] = pd.DataFrame(df1['location.coordinates'].tolist(), index=df1.index)

# Drop the original 'location.coordinates' column
df1.drop(columns=['location.coordinates'], inplace=True)

In [31]:
Address=['_id','street','suburb','government_area','market','country','country_code','location.type','location.is_location_exact','longitude','latitude']

Address_details=df1[Address]

In [32]:
host=['_id','host_id','host_url','host_name','host_location','host_about','host_response_time','host_thumbnail_url','host_picture_url','host_neighbourhood',
              'host_response_rate','host_is_superhost','host_has_profile_pic','host_identity_verified','host_listings_count','host_total_listings_count','host_verifications']

host_details=df1[host]

In [ ]:
Address_details

In [ ]:
Address_details['market'].value_counts()

In [ ]:
Address_details['market'].isna().sum()

In [ ]:
Address_details['market'].unique()

In [37]:
review_scores_df['_id']=df1['_id']

In [ ]:
# After viewing the multiple columns in the listings.csv from the data_description.txt, 
# the following variables were picked for further analysis and dropped variables like date_scraped etc.
listingDF = df1[['_id','name','summary','longitude','latitude','space','description','host_neighbourhood','host_id','host_name','last_review_date','street',
                 'host_response_time','street','country','review_scores_rating','property_type','room_type','accommodates','bathrooms','bedrooms','beds','reviews_per_month','amenities','cancellation_policy','number_of_reviews','price']]
listingDF.head()

In [39]:
# Id: Unique identifier for each listing.

# Name: The title or name of the listing.

# Host Id: Unique identifier for the host of the listing.

# Host Name: The name of the host.

# Neighbourhood: The specific neighborhood where the listing is located.

# Latitude: The latitude coordinate of the listing's location.

# Longitude: The longitude coordinate of the listing's location.

# Room Type: The type of room being listed (e.g., "Entire home/apartment", "Private room", "Shared room").

# Price: The price to rent the listing.

# Minimum Nights: The minimum number of nights a guest must book for the listing.

# Maximum Nights: The Maximun number of nights a guest must book for the listing.

# Number Of Reviews: The total number of reviews the listing has received.

# Availability 30: The number of days the listing is available for booking within the next 30 days

# Availability 60: The number of days the listing is available for booking within the next 60 days

# Availability 90: The number of days the listing is available for booking within the next 90 days

# Availability 365: The number of days the listing is available for booking within the next 365 days

# Rating : ratings given by guests to the listings.

In [ ]:
df1.info()

In [ ]:
# After viewing the multiple columns in the listings.csv from the data_description.txt, 
# the following variables were picked for further analysis and dropped variables like date_scraped etc.
listingDF = df1[['_id','name','summary','longitude','latitude','host_neighbourhood','host_id','host_name','last_review_date',
                 'host_response_time','street','suburb','government_area','market','country','review_scores_rating','property_type','room_type','accommodates','bathrooms','bedrooms','beds','amenities','cancellation_policy','minimum_nights',
             'maximum_nights',
             'availability_30',
             'availability_60',
             'availability_90',
             'availability_365','number_of_reviews','price']]
listingDF.head()

In [ ]:
# After viewing the multiple columns in the listings.csv from the data_description.txt, 
# the following variables were picked for further analysis and dropped variables like date_scraped etc
new_column_names={'_id' : 'Id',
             'name': 'Name',
             'host_id': 'Host Id',
             'host_name' : 'Host Name',
             'host_response_time' : 'Host Response Time',
             'last_review_date':'Last Review',
             'street':'Street',
             'government_area':'Government Area',
             'suburb':'Suburban',
             'market':'Market',
             'country' : 'Country',
             'space' : 'Space',
             'description': 'Description',
             'host_neighbourhood': 'Neighborhood',
             'latitude' : 'Latitude',
             'longitude' : 'Longitude',
             'room_type' : 'Room Type',
             'property_type': 'Property Type',
             'accommodates' : 'Accomodates',
             'bathrooms' : 'Bathrooms',
             'bedrooms' : 'Bedrooms',
             'amenities' : 'Amenities',
             'cancellation_policy':'Cancellation Policy',
             'price':'Price',
             'minimum_nights':'Minumum Nights',
             'maximum_nights':'Maximum Nights',
             'number_of_reviews':'No of Reviews',
             'availability_30' : 'Availability 30',
             'availability_60' : 'Availability 60',
             'availability_90' : 'Availability_90',
             'availability_365' : 'Availability_365',
             'review_scores_rating': 'Rating'}

# Rename columns
listingDF.rename(columns=new_column_names, inplace=True)

In [ ]:
listingDF.head()

In [ ]:
listingDF.dtypes

In [45]:
air_data=listingDF.copy()

In [ ]:
air_data.head()

Data cleaning

In [ ]:
#quickly explore the data
air_data.dtypes

In [ ]:
air_data.info()

In [ ]:
air_data.describe()

In [50]:
#Changing Data Types

air_data['Maximum Nights']=air_data['Maximum Nights'].astype('int64')

air_data['Minumum Nights']=air_data['Minumum Nights'].astype('Int64')

In [51]:
air_data['Room Type']=air_data['Room Type'].astype('category')

In [ ]:
pd.to_datetime(air_data['Last Review'], errors='coerce')

In [ ]:
air_data['Room Type'].value_counts()

In [ ]:
air_data.info()

# Data cleaning

identifying missing Data

In [ ]:
air_data.Neighborhood

In [ ]:
air_data[air_data.isna().any(axis=1)]

Handling missing data

In [57]:
air_data['Neighborhood'].fillna('UnKnown',inplace=True)

In [58]:
air_data['Neighborhood'].replace('','Not Provided',inplace=True)

In [ ]:
air_data['Neighborhood']

In [ ]:
air_data.dtypes

In [61]:
# Convert the 'Last Review' column to datetime
air_data['Last Review'] = pd.to_datetime(air_data['Last Review'], errors='coerce')

In [62]:
# Extract the month from the 'Last Review' column
air_data['Month'] = air_data['Last Review'].dt.month

In [ ]:
air_data['summary'].replace('','Not Provided',inplace=True)

In [ ]:
air_data['Market'].isna().sum()

In [ ]:
air_data['Market'].value_counts()

In [ ]:
air_data['Suburban'].value_counts()

In [ ]:
air_data['Suburban'].unique()

In [ ]:
air_data['Government Area'].unique()

In [ ]:
air_data[['Rating','No of Reviews']].head(55)

In [ ]:
review_scores_df.head()

In [ ]:
air_data.loc[air_data['Rating'].isna()].tail(30)

Imputing missing Data

In [72]:
#if No of reviews 0 or less revies then rating of the listing having Nan values ,that means if reviews are less or not given by the cus then ratings are not calculated
# If the number of reviews is zero, the rating should remain NaN because there's no basis for imputing a rating. However, we can handle cases where the number of reviews is very low (e.g., 1-2 reviews) differently from those with a substantial number of reviews.

In [ ]:

# Define review bins excluding 0 and 1-2 reviews
bins = [2, 5, 10, 20, 50, 100, float('inf')]
labels = ['3-5', '6-10', '11-20', '21-50', '51-100', '101+']

#copy the dataframe for further Edits in the Dataframe

airdata1=air_data.copy()

# Create a new column for review bins
airdata1['Review Bin'] = pd.cut(airdata1['No of Reviews'], bins=bins, labels=labels,right=False)

# Calculate the mean rating for each review bin
mean_ratings = airdata1.groupby('Review Bin')['Rating'].mean()

# Mean rating for 1-2 reviews
mean_low_reviews = airdata1[airdata1['No of Reviews'].isin([1, 2])]['Rating'].mean()

# Fill NaN values in the Rating column based on the mean rating of the corresponding review bin
def fill_rating(row):
    if pd.isna(row['Rating']):
        if row['No of Reviews'] == 0:
            return np.nan  # Keep as NaN
        elif row['No of Reviews'] in [1, 2]:
            return mean_low_reviews  # Use mean rating for 1-2 reviews
        else:
            return mean_ratings[row['Review Bin']]
    else:
        return row['Rating']
    
airdata1['Rating'] = airdata1.apply(fill_rating, axis=1)

In [ ]:
airdata1['Rating'].isna().sum()

In [ ]:
air_data.loc[air_data['Rating'].isna()].tail(30)

In [ ]:
airdata1.columns

In [ ]:
airdata1.isna().sum()

In [78]:
airdata1.drop(columns='Review Bin',inplace=True)

In [ ]:
airdata1[airdata1['Rating'].notna()].shape

In [ ]:
airdata1['Rating'].isna().sum()

In [81]:
#but still large number of missing values in the column rating,so imputing all values with a 0 in an rating column
airdata1['Rating']=airdata1.apply(lambda row:0 if pd.isna(row['Rating'])  else row['Rating'],axis=1)

In [ ]:
airdata1['Rating'].isna().sum()

In [ ]:
airdata1.Rating

In [ ]:
airdata1.info()

In [ ]:
airdata1.describe()

In [ ]:
airdata1['Country'].value_counts()

In [ ]:
airdata1['Host Name'].value_counts()

Handling incorrect text  & typos

In [ ]:
airdata1['Amenities']

In [89]:
airdata1['Amenities']=airdata1['Amenities'].apply(lambda x : ', '.join(x))

In [ ]:
# There was no duplicated data
airdata1.duplicated().sum()

Identifying outliers

In [ ]:
import pandas as pd

#identifying outliers using IQR METHOD

# Load your dataset
# Select numerical columns
numerical_columns = airdata1.select_dtypes(include=['float64', 'int64']).columns

def detect_outliers_iqr(df, columns):
    outliers_list = []  # Store DataFrames with outliers here

    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Find outliers
        outlier_indices = df[(df[column] < lower_bound) | (df[column] > upper_bound)].index
        outliers_list.append(df.loc[outlier_indices])

    # Concatenate all the outliers into one DataFrame
    outliers = pd.concat(outliers_list).drop_duplicates()
    return outliers


# Detect outliers
outliers = detect_outliers_iqr(airdata1, numerical_columns)

# Print the outliers
print(f"Total outliers found: {len(outliers)}")
#print(outliers)

In [ ]:
from scipy.stats import zscore

# Function to detect outliers using Z-score method
def detect_outliers_zscore(df, columns, threshold=3):
    outliers_z_list=[]

    for column in columns:
        z_scores = zscore(df[column])
        outlier_indices = df[(abs(z_scores) > threshold)].index
        outliers_z_list.append(df.loc[outlier_indices])

    # Drop duplicates
    outliers = pd.concat(outliers_z_list).drop_duplicates()
    return outliers

# Detect outliers
outliers_z = detect_outliers_zscore(airdata1, numerical_columns)

# Print the outliers
print(f"Total outliers found using Z-score: {len(outliers_z)}")
print(outliers_z.head())

In [ ]:
#outliers by visualization using Box plot
numerical_columns = airdata1.select_dtypes(include=['float64', 'int64']).columns

# Plot each numerical column individually
for column in numerical_columns:
    plt.figure(figsize=(10, 6))
    sns.boxplot(x=airdata1[column])
    plt.title(f'Box Plot for {column}')
    
    plt.show()

In [ ]:
#using scatter plot


numerical_columns = airdata1.select_dtypes(include=['float64', 'int64']).columns

# Plot each numerical column individually
for column in numerical_columns:
    plt.figure(figsize=(10, 6))
    sns.scatterplot(x=airdata1.index,y=airdata1[column])
    plt.title(f'Scatter Plot for {column}')
    
    plt.show()

Removing outliers

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

# Select numerical columns
numerical_columns = airdata1.select_dtypes(include=['float64', 'int64']).columns
num_data = airdata1[numerical_columns]

# Check for NaN values and handle them by filling with the mean
num_data_filled = num_data.apply(lambda x: x.fillna(x.mean()), axis=0)


#Ensure all the data which have datatypes(int or float)

num_data_filled=num_data_filled.astype('float64')


print("\nProcessed numerical data for Z-score calculation:\n", num_data_filled)

def remove_outliers_zscore(data, threshold=2):
    #computing zscore but ignoring NAN values(they will stay as Nan)
    z_score = np.abs(stats.zscore(data,nan_policy='omit'))

    # set nan values as 0 for zscore
    z_score=np.where(np.isnan(z_score),0,z_score)

    # Filter rows where all z-scores are below the threshold
    filter_outliers = (z_score < threshold).all(axis=1)
    return filter_outliers

# Filter to remove outliers from numerical data
outlier_filter = remove_outliers_zscore(num_data_filled)


# Apply the filter to the original DataFrame to keep all columns
cleaned_df_using_zscore = airdata1[outlier_filter]

print("\nCleaned DataFrame using Z-Score method:\n", cleaned_df_using_zscore.head())
print(len(cleaned_df_using_zscore))

In [ ]:
cleaned_df_using_zscore.info()

In [ ]:
cleaned_df_using_zscore.columns

In [ ]:
cleaned_df_using_zscore.shape

In [ ]:
airdata1.info()

In [ ]:
airdata1.shape

In [ ]:
airdata1.columns

In [ ]:
print('comparing removing outilers data vs orginal data')
print('\n')
print('ORGINAL DATA : \n',airdata1.head(5))

print('Removing outliers Using zscore : \n',cleaned_df_using_zscore.head(5))

In [ ]:
airdata1.describe()

In [ ]:
cleaned_df_using_zscore.describe()

In [105]:
#here i have taken airdata dataset for further analysis,Since after outliers dataset removing around 800 rows which have some important insights,so i keep the outliers which not impacted my furthere analysis

In [109]:
airdata1['Rating'].value_counts()

Rating
0.000000      1388
100.000000     982
98.000000      291
96.000000      286
97.000000      281
95.000000      259
93.000000      244
94.000000      223
90.000000      213
99.000000      188
80.000000      167
92.000000      158
89.000000      113
91.000000      112
87.000000       97
91.083223       83
88.000000       77
85.000000       55
86.000000       48
84.000000       43
60.000000       41
83.000000       39
70.000000       25
82.000000       19
20.000000       16
81.000000       12
75.000000       11
78.000000       11
40.000000       10
76.000000        9
79.000000        8
73.000000        8
67.000000        5
72.000000        5
74.000000        5
71.000000        4
77.000000        4
65.000000        3
68.000000        3
92.658699        3
69.000000        2
50.000000        2
53.000000        1
64.000000        1
Name: count, dtype: int64

In [113]:
airdata1['Price'].nlargest(100)

1989    48842.0
878     11681.0
3435    11681.0
739     11190.0
2453    10001.0
         ...
3940     1601.0
336      1600.0
3309     1586.0
1016     1562.0
3571     1550.0
Name: Price, Length: 100, dtype: float64

In [117]:
airdata1.iloc[1989:1992]

,Id,Name,summary,Longitude,Latitude,Neighborhood,Host Id,Host Name,Last Review,Host Response Time,...,Cancellation Policy,Minumum Nights,Maximum Nights,Availability 30,Availability 60,Availability_90,Availability_365,No of Reviews,Price,Month
1989,20275354,İstanbul un kalbi sisli. Center of istanbul sisli,"We are new married couple.We have have one fully furnished single room for rent in our flat which is located in Sisli Bomonti. The room is fully furnished, recently painted and large enough for on...",28.98111,41.05465,Not Provided,118695718,Ipek,NaT,NaN,...,flexible,2,1125,0,0,0,0,0,48842.0,NaN
1990,20287455,Peaceful Refuge in Central Kona,"Enjoy yourself in this bright, airy and clean guest house with it's colorful island decor, beautiful garden surroundings, and peak-a-boo view of the ocean. Located almost directly above the Hon...",-155.98335,19.67595,Kailua/Kona,99589042,Carol,2019-02-11,within an hour,...,strict_14_with_grace_period,2,1125,15,32,32,196,37,65.0,2.0
1991,20396803,Chammbre lit queen,"Chambre dans un 61/2 en collocation. Appartement situé à 1 min de la plaza saint hubert (boutiques,resto,bars,et plus) et à moins de 5 min à pieds de la station rosemont. Diverses épiceries aux al...",-73.59951,45.53298,La Petite-Patrie,31521169,Majestik,2017-09-06,NaN,...,strict_14_with_grace_period,6,18,0,0,0,0,2,30.0,9.0

In [119]:
airdata1.drop(index=1989,inplace=True)

In [120]:
airdata1.describe()

,Longitude,Latitude,Last Review,Rating,Accomodates,Bathrooms,Bedrooms,beds,Minumum Nights,Maximum Nights,Availability 30,Availability 60,Availability_90,Availability_365,No of Reviews,Price,Month
count,5554.000000,5554.000000,4167,5554.000000,5554.000000,5544.000000,5549.000000,5541.000000,5554.0,5.554000e+03,5554.000000,5554.000000,5554.000000,5554.000000,5554.000000,5554.000000,4167.000000
mean,-6.629651,22.057810,2018-08-15 15:35:07.127429632,69.819208,3.506302,1.291216,1.411786,2.071648,5.564998,1.383025e+06,11.818329,26.456068,42.765754,173.136838,27.611451,270.022326,4.692825
min,-159.678690,-34.088290,2012-01-06 00:00:00,0.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000
25%,-73.599540,20.724380,2018-08-08 00:00:00,20.000000,2.000000,1.000000,1.000000,1.000000,1.0,5.900000e+01,0.000000,0.000000,0.000000,17.000000,1.000000,70.000000,2.000000
50%,-8.611465,40.726990,2019-01-02 00:00:00,92.000000,3.000000,1.000000,1.000000,2.000000,2.0,1.125000e+03,8.000000,23.000000,43.000000,171.500000,5.000000,129.000000,2.000000
75%,29.019703,41.162813,2019-02-15 00:00:00,98.000000,4.000000,1.000000,2.000000,3.000000,3.0,1.125000e+03,24.000000,52.000000,80.000000,317.000000,32.000000,280.000000,8.000000
max,151.338980,45.665630,2019-03-11 00:00:00,100.000000,16.000000,16.000000,20.000000,25.000000,1250.0,2.147484e+09,30.000000,60.000000,90.000000,365.000000,533.000000,11681.000000,12.000000
std,90.532863,28.093484,NaN,41.021265,2.296980,0.702317,1.042022,1.619743,22.615846,5.257393e+07,11.686089,23.475440,35.225395,139.835186,49.801481,533.547676,3.885014

In [121]:
#saving csv file for further analysis

listing_df=airdata1.to_csv('listingDF.csv',index=False)